<h1>Home - index</h1>
<p>Some data</p>
<p> Users: <span><%= @users_count %> </span> 
<p> Libraries: <span><%= @libraries_count %> </span> 
<p> Books: <span><%= @books_count %> </span> 
<p> Book copies: <span><%= @book_copies_count %> </span> 
